*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body{
    width: 100vw;
    font-family: 'Montserrat';
    background-color: white;
}

.producto{
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 1%;
    padding: 1%;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(100, 100, 100,0.5);

}

.imagen-principal{
    background-color: white;
    margin:1%;
}

.imagen-principal img{
    width: 90%;
    box-shadow: 0px 0px 5px rgba(100, 100, 100,0.5);
}

.info-producto{
    background-color: white;
    padding-left: 6%;
    padding-right: 6%;
    padding-bottom: 4%;
}

.info-producto .nombre{
    background-color: white;
    text-align: left;
}

.info-producto .precio{
    font-size: large;
    font-weight: bold;
    display: flex;
    align-self: left;
    margin-top: 2%;
    margin-bottom: 1%;
}

.info-producto .oferta{
    display: flex;
    align-self: left;
    color: rgb(85, 218, 65);
    font-size: smaller;
    font-weight: lighter;
    padding-bottom: 2%;
}

.configuracion-producto{
    background-color: white;
    display: flex;
    text-align: left;
    flex-direction: column;
    font-weight: bold;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding-top: 4%;
    padding-left: 6%;
    padding-right: 6%;
    margin-top: 1px;
}
.configuracion-producto select{
    align-self: center;
    font-size: large;
    font-weight: lighter;
    color: #636262;
    border-radius: 5px;
    border: #ebebeb;
    background-color: #ebebeb;
    width: 100%;
    height: 40px;
    margin: 2%;
}
.configuracion-producto input{
    align-self: center;
    width: 100%;
    height: 40px;
    margin: 2%;
    border: #ebebeb;
    background-color: #ebebeb;
    border-radius: 5px;
}
 

.configuracion-producto p{
    font-size: smaller;
    color:rgba(100, 100, 100,0.5);
}
.contenedor-detalle-producto{
    display: flex;
    flex-direction: column;
    background-color: #ebebeb;
}
.configuracion-producto button{
    text-align: center;
    font-size: large;
    color: #ebebeb;
    align-self: center;
    width: 90%;
    height: 50px;
    margin: 6%;
    border: #ebebeb;
    background-color: #212F3D;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(100, 100, 100,0.5);
    transition-property: all;
    transition-duration: 450ms
}

.configuracion-producto button:hover{
    background-color: #1459b9;
}

.info-producto p{
    text-align: left;
    width: 100%;
    padding-top: 2%;
    margin: auto;
}

@media  (min-width:800px) {
    .producto{
        display: flex;
        flex-direction: row;
    }

    .info-producto .nombre{
        padding-top: 2%;
        padding-bottom: 2%;
    }

    .imagen-principal{
        align-self: top;
        width: 55%;
    }
    .contenedor-detalle-producto{
        height: 100%;
        width: 45%;
    }
}
@media (min-width:1024px){
    .producto{
        display: flex;
        flex-direction: row;
    }

    .info-producto .nombre{
        padding-top: 2%;
        padding-bottom: 2%;
    }

    .imagen-principal{
        align-self: center;
        width: 55%;
    }
    .contenedor-detalle-producto{
        height: 100%;
        width: 45%;
    }
}