.main{
    font-family: 'Montserrat';
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: rgba(10, 74, 111, 0.734);
    height: 50px;
}

.logo{
    width: 30%;
}

.logo img{
    width: 150px;
    height: 40px;
    padding-top: 7px;    
}

.nav-bar{
    color: #ffff;
    width: 70%;
    text-align: right;
}

.nav-bar ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: right;
}

.nav-bar ul li{
    display: flex;
    width: 13%;
    margin-right: 1%; 
}

.nav-bar ul li i{
  padding-right: 10px; 
}


