<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Publicity</title>
    <link rel="Stylesheet" href="css/carrito-style.css" type="text/css">
    <link rel="stylesheet" href="css/header-footer.css">
    <!--Iconos-->
    <script src="https://kit.fontawesome.com/41f3340cce.js" crossorigin="anonymous"></script>
    <!--Font-->
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>

</head>

<body>
    <%-include('partials/header.ejs')%> 

    <!--Main-->
    <main class="full body">
        <section id="carrito">
            <h2>Carrito</h2>
            <article class="encabezado">
                <h3 id="articulos">Articulos</h3>
                <div>
                    <h3>Precio</h3>
                    <h3>Cantidad</h3>
                    <h3>Subtotal</h3>
                </div>
            </article>
            <article>
                <img src="/img/bolsa_friselina.PNG" alt="Bolsa">
                <p class="nombreProducto"><strong>Bolsa friselina</strong></p>
                <button class="compra" type="submit">Eliminar</button>
                <div>
                    <div><label>precio</label>
                        <p class="precioCarrito">$000.000</p>
                    </div>
                    <div><label>cantidad</label><input class="carritoCantidad" id="box-number" type="number"
                            value="number" name="cant" min="1" required></div>
                    <div><label>total</label>
                        <p>$000.000</p>
                    </div>
                </div>
            </article>
            <article>
                <img src="/img/cajas_detalles.jpg" alt="Caja">
                <p class="nombreProducto"><strong>Caja de detalles</strong></p>
                <button class="compra" type="submit">Eliminar</button>
                <div>
                    <div><label>precio</label>
                        <p class="precioCarrito">$000.000</p>
                    </div>
                    <div><label>cantidad</label><input class="carritoCantidad" id="box-number" type="number"
                            value="number" name="cant" min="1" required></div>
                    <div><label>total</label>
                        <p>$000.000</p>
                    </div>
                </div>
            </article>
            <article>
                <img src="/img/bolsa_plastica.jpg" alt="Caja">
                <p class="nombreProducto"><strong>Caja plastica</strong></p>
                <button class="compra" type="submit"><span>Eliminar</span></button>
                <div>
                    <div><label>precio</label>
                        <p class="precioCarrito">$000.000</p>
                    </div>
                    <div><label>cantidad</label><input class="carritoCantidad" id="box-number" type="number"
                            value="number" name="cant" min="1" required></div>
                    <div><label>total</label>
                        <p>$000.000</p>
                    </div>
                </div>
            </article>

            <article id="total">
                <div>
                    <div><label>Total</label>
                        <p>$000.000</p>
                    </div>
                </div>
            </article>
            <div class="finalizarCompra">
                
                    <button class="btncompra" type="submit"><span>Seguir comprando</span></button>
                    <button class="btncompra" type="submit"><span>Actualizar carrito</span></button>
                    <button class="btncompra" type="submit"><a href="/info-pago" target="_self" style="text-decoration: none; color:#fff"><span> Finalizar compra</span></a></button>
                
            </div>

        </section>
    </main>
    <!--Footer-->
    <%-include('partials/footer.ejs')%> 
</body>

</html>