<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Publicity</title>
    <link rel="Stylesheet" href="css/detalle.css" type="text/css">
    <link rel="stylesheet" href="css/header-footer.css">
    <link rel="stylesheet" href="css/pago.css">
    <!--Iconos-->
    <script src="https://kit.fontawesome.com/41f3340cce.js" crossorigin="anonymous"></script>
    <!--Font-->
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>

</head>

<body>
   <%-include('partials/header.ejs')%> 

    <!--Main-->
    <main>
        <div class="container">

            <div class="datos">
                <div class="descripcion">
                    <div class="miniatura">
                        <p>imagen</p>
                    </div>
                    <h3>Bolsa Plastica</h3>
                    <p>Breve descripción de los productos</p>
                </div>

            </div>

            <div class="info">

                <div class="opciones">
                    <h4>Metodo de Envio</h4>
                    <div class="inputRadio">
                        <label for="envio">Retirar</label>
                        <input id="retira" class="radio" type="radio" name="envio">
                    </div>
                    <div>
                        <label for="envio">Envio a Domicilio</label>
                        <input id="dom" class="radio" type="radio" name="envio">
                    </div>

                </div>

                <div class="opciones">
                    <h4>Forma de Pago</h4>
                    <div class="radio">
                        <label for="forma">Efectivo</label>
                        <input type="radio" class="check" name="forma">
                    </div>

                    <div class="radio">
                        <label for="forma">Mercado Pago</label>
                        <input type="radio" name="forma">
                    </div>

                </div>

            </div>

            <div class="datosEnvio">

                <form action="" class="form">
                    <ul>
                        <h4>Información de Domicilio</h4>

                        <li><input id="dir" type="text" placeholder="Dirección" disabled required minlength="4"></li>

                        <li><input id="loc" type="text" placeholder="Localidad" disabled required minlength="4"></li>

                        <li><input id="cp" type="number" placeholder="Código Postal:" disabled maxlength="4" required>
                        </li>

                        <li><input id="rec" type="text" placeholder="Recibe:" disabled required minlength="4"></li>
                    </ul>
                </form>

            </div>

            <div class="datosPago">

                <h4>MercadoPago</h4>

                <p>Por el momento los pagos realizados a traves de MercadoPago se realizan unicamente por transferecia
                </p>
                <p>Nuestro CVU: 20201202202020</p>
                <p>Nuestro Telefono: +54 9 3755-458194</p>

            </div>

            <div class="pago">
                <h4>Información de Pago</h4>
                <div class="precio">

                    <form action="">
                        <li>Precio de producto</li>
                        <li>Cantidad</li>
                        <li>Costo Envio</li>
                        <li>Sub Total</li>
                        <li>Total</li>
                    </form>

                    <form action="">
                        <li>$ 254.52</li>
                        <li>35</li>
                        <li>$ 512</li>
                        <li>130.314,24</li>
                        <li>130.314,24</li>
                    </form>

                </div>

            </div>

            <div class="boton">
                <button class="btn"><a href="/"target="_self">Realizar Compra</a></button>
            </div>
        </div>


    </main>
    <!--Footer-->
    <%-include('partials/footer.ejs')%> 
</body>

</html>

<script>

    document.getElementById('dom').addEventListener('click', function (e) {

        document.getElementById('dir').disabled = false;
        document.getElementById('loc').disabled = false;
        document.getElementById('cp').disabled = false;
        document.getElementById('rec').disabled = false;

    });

    document.getElementById('retira').addEventListener('click', function (e) {

        document.getElementById('dir').disabled = true;
        document.getElementById('loc').disabled = true;
        document.getElementById('cp').disabled = true;
        document.getElementById('rec').disabled = true;

    });

</script>