<header>
    <!--Menu--> 
    <section class="contenedor-header">
        <div class="menu-hamburguesa">
            <i class="fas fa-bars"></i>
        </div>
        <div class="logo">
            <a href="/"><img src="/img/LOGO_ROJO.png" alt="logo Publicity"></a>
        </div>
         <!--Barra de busqueda--> 
         <div class="barra-de-busqueda">
            <input type="search" placeholder="Buscar productos" >
            <i class="fa-solid fa-magnifying-glass"></i>
        </div>
        <!--Usuario y carrito--> 
        <div class="lista-usuario">
            <ul>
                <% if(locals.logueado) { %>
                    <li class="usuario">Bienvenid@, <b><%=locals.nombreUsuario %></b></li>
                <% } %>
                <li><a href="/users/login"><i class="fa-solid fa-user"></i></a></li>
                <li><a href="/carrito"><i class="fa-solid fa-cart-shopping"></i></a></li>
            </ul>
        </div>
    </section>
    <!--Barra de navegacion Productos--> 
    <section class="nav-bar">
        <ul>
            <li><a href="/products/Friselina">BOLSAS FRISELINA</a></li>
            <li><a href="/products/plastica">BOLSAS PLÁSTICAS</a></li>
            <li><a href="/products/Cristal">BOLSAS CRISTAL</a></li>
            <li><a href="/products">TODOS LOS PRODUCTOS</a></li>
            <li><a href="/users/usuarios">USUARIOS</a></li>
            <li><a href="/abml">CRUD</a></li>
        </ul>
    </section>       
</header>