<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Publicity</title>

    <!-- Google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <!--CSS  -->
    <link rel="stylesheet" href="/css/registro.css">
    <link rel="Stylesheet" href="/css/header-footer.css" type="text/css">
    <!-- Font awesome -->
    <script src="https://kit.fontawesome.com/79b8daf391.js" crossorigin="anonymous"></script>

</head>

<body>
    <%- include('../partials/header.ejs') %> 

    <main>
        <div class="ruta">
            <p>Inicio > Mi Cuenta > Crear Cuenta</p>
        </div>
        <div class="formulario">
            <h2 class="titulo">Formulario de Registro</h2>
            <form action="" method="post">
                <ul>
                    <p class="warnings" id="warnings"></p>
                    <li> 
                        <input id="nombre" class="form" type="text" placeholder="Nombre">
                        <span></span>
                    </li>
                    <li>
                        <input id="email" class="form" type="email" placeholder="Email" name="email">
                        <span></span>
                    </li>
                    <li>
                        <input id="password" class="form" type="password" placeholder="Contraseña"  name="contrasenia">
                        <span></span>    
                    </li>
                    <li>
                        <input id="confirmarpass" class="form" type="password" placeholder="Confirmar contraseña" name="contraseniaConfirmada">
                        <span></span>    
                    </li>
                </ul>

                <div class="check">
                    <label>No soy un Robot <i class="fa-solid fa-arrows-rotate"></i></label>
                    <input type="checkbox" id="robot">
                </div>

                <div class="boton">
                    <button id="btn" type="submit">Registrarme</button>
                </div>
                
                <div class="footer">
                    <p>¿Ya tienes una cuenta? <a href="/login">Iniciar Sesión</a></p>
                </div>
                
            </form>

        </div>

    </main>

    <!--Footer-->
    <%- include('../partials/footer.ejs') %> 
<script src="/js/validacionRegistro.js"></script>
</body>

</html>