.principal{
    display: flex;
    flex-direction: column;
    background-color: rgb(33 35 50);
    font-family: 'Montserrat';
    
}
.cabecera{
    width: 100%;
   
}
.cuerpo{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    width: 100%;
}

.totales{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 20px;
    width: 50%;
    border-radius: 10px;
    color: rgb(234, 235, 240);
    background-color: rgb(42 45 62);
    box-shadow:  0px 5px rgba(34, 68, 255, 0.5);
}


.ultimo-producto{
    width: 45%;
}

.lateral-derecho{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 75%;
}

.lateral-izquierdo{
    width: 25%;
}