<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Publicity</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://kit.fontawesome.com/79b8daf391.js" crossorigin="anonymous"></script>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>
    <header>
        
           
    </header>

    <main>
        <div class="ruta">
            <p>Inicio > Mi Cuenta > Crear Cuenta</p>
        </div>
        <div class="formulario">
           
            <h2 class="titulo">Formulario de Registro</h2>
  
            <form>   
                <ul>                   
                    <li>
                        <label>Nombre y Apellido:</label>
                        <input class="form-control" type="text">
                    </li>
                    
                    <li> 
                        <label>Email (opcional):</label>
                        <input class="form-control" type="email">
                    </li>

                
                    <li> 
                        <label>Contraseña:</label>
                        <input class="form-control" type="text">
                    </li>
                    
                    <li>
                        <label>Confirmar contraseña:</label>
                        <input class="form-control" type="number">
                    </li>
                   
                    

                </ul>
                 
                <div class="check">
                    
                    <label>No soy un Robot  <i class="fa-solid fa-arrows-rotate"></i></label>
                    <input type="checkbox">
                </div> 
                

                <div class="boton">
                    <button class="btn btn-primary btn-lg" id="btn" style="background-color:rgba(93, 89, 89, 0.647); border-color: black;" type="submit">Crear Cuenta</button> 
                </div>
                <div class="footer">
                    <p>¿Ya tienes una cuenta? <a href="#">Iniciar Sesión</a></p>
                </div>
                
               
            </form>
  

        </div>


    </main>

</body>
</html>