<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Publicity</title>
    <!--Estilos Grupo 6-->
    <link rel="Stylesheet" href="css/header-footer.css" type="text/css">
    <link rel="Stylesheet" href="css/style-products.css" type="text/css">
    <!--Iconos-->
    <script src="https://kit.fontawesome.com/41f3340cce.js" crossorigin="anonymous"></script>
    <!--Font-->
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
</head>
<body>
    <header>
        <!--Menu-->
        <section class="contenedor-header">
            <div class="menu-hamburguesa">
                <i class="fas fa-bars"></i>
            </div>
            <div class="logo">
                <img src="/img/LOGO_ROJO.png" alt="logo Publicity">
            </div>
            <!--Barra de busqueda-->
            <div class="barra-de-busqueda">
                <input type="search" placeholder="Buscar productos">
                <i class="fa-solid fa-magnifying-glass"></i>
            </div>
            <!--Usuario y carrito-->
            <div class="lista-usuario">
                <ul>
                    <li><a href="/login"><i class="fa-solid fa-user"></i></a></li>
                    <li><a href="/carrito"><i class="fa-solid fa-cart-shopping"></i></a></li>
                </ul>
            </div>
        </section>
        <!--Barra de navegacion Productos-->
        <section class="nav-bar">
            <ul>
                <li><a href="/">INICIO</a></li>
                <li><a href="/detalle-producto">BOLSAS FRISELINA</a></li>
                <li><a href="/detalle-producto">BOLSAS PLÁSTICAS</a></li>
                <li><a href="/detalle-producto">BOLSAS CRISTAL</a></li>
                <li><a href="/products">TODOS LOS PRODUCTOS</a></li>
            </ul>
        </section>
    </header>
    
    <!--Main-->
    <main>
        <div class="main-container">
            <!--Filtros-->
            <section class="container-filters">
                <h3>Categorías</h3>
                <h4>Plásticas <span class="category-quantity">(15)</span></h4>
                <h4>Friselina <span class="category-quantity">(10)</span></h4>
                <h4>Cristal<span class="category-quantity">(10)</span></h4>
                <h4>Merchandising <span class="category-quantity">(25)</span></h4>
                <br/>
                <h3>Venta</h3>
                <h4>Al por mayor <span class="category-quantity">(15)</span></h4>
                <h4>Al por menor <span class="category-quantity">(35)</span></h4>
                <br />
                <h3>Descuentos</h3>
                <h4>Desde 5% OFF <span class="category-quantity">(100)</span></h4>
                <h4>Desde 10% OFF <span class="category-quantity">(22)</span></h4>
            </section>
            <!--Productos-->
            <section class="container-products">
                <div class="products-list">
                    <article class="product">
                        <div class="product-img">
                            <img src="/img/bolsa_friselina.PNG" alt="Bolsa de friselina con mango">
                        </div>
                        <div class="product-info">
                            <h2 class="product-name">Bolsa friselina con mango</h2>
                            <a class="product-price">$1250.50</a>
                            <a class="product-offer">10% off a partir de 200 unidades</a>
                            <p>

                                Ideales para que tu marca vaya a todos lados.
                            </p>
                        </div>
                    </article>
                    <article class="product">
                        <div class="product-img">
                            <img src="/img/cajas_detalles.jpg" alt="Bolsa de friselina con mango">
                        </div>
                        <div class="product-info">
                            <h2 class="product-name">Bolsa friselina con mango</h2>
                            <a class="product-price">$1250.50</a>
                            <a class="product-offer">10% off a partir de 200 unidades</a>
                            <p>
                                Ideales para que tu marca vaya a todos lados.
                            </p>
                        </div>
                    </article>
                    <article class="product">
                        <div class="product-img">
                            <img src="/img/bolsa_plastica.jpg" alt="Bolsa de friselina con mango">
                        </div>
                        <div class="product-info">
                            <h2 class="product-name">Bolsa friselina con mango</h2>
                            <a class="product-price">$1250.50</a>
                            <a class="product-offer">10% off a partir de 200 unidades</a>
                            <p>
                                Ideales para que tu marca vaya a todos lados.
                            </p>
                        </div>
                    </article>
                    <article class="product">
                        <div class="product-img">
                            <img src="/img/bolsa_plastica.jpg" alt="Bolsa de friselina con mango">
                        </div>
                        <div class="product-info">
                            <h2 class="product-name">Bolsa friselina con mango</h2>
                            <a class="product-price">$1250.50</a>
                            <a class="product-offer">10% off a partir de 200 unidades</a>
                            <p>
                                Ideales para que tu marca vaya a todos lados.
                            </p>
                        </div>
                    </article>
                    <article class="product">
                        <div class="product-img">
                            <img src="/img/bolsa_plastica.jpg" alt="Bolsa de friselina con mango">
                        </div>
                        <div class="product-info">
                            <h2 class="product-name">Bolsa friselina con mango</h2>
                            <a class="product-price">$1250.50</a>
                            <a class="product-offer">10% off a partir de 200 unidades</a>
                            <p>
                                Ideales para que tu marca vaya a todos lados.
                            </p>
                        </div>
                    </article>
                </div>
            </section>
        </div>
    </main>
    <!--Footer-->
    <footer>
        <section class="contenedor-info">
            <div>
                <h5>Ventas personalizadas</h5>
                <p><i class="fa-solid fa-check"></i></p>
            </div>
            <div>
                <h5>Aceptamos todos los medios de pago</h5>
                <p><i class="fa-solid fa-credit-card"></i></p>
            </div>
            <div>
                <h5>Enviamos tu compra</h5>
                <p><i class="fa-solid fa-truck"></i></p>
            </div>
        </section>
        <section class="contacto-redes">
            <h5>Contactáctanos</h5>
            <div>
                <a href="#"><i class="fa-brands fa-instagram"></i> @publicity.Misiones</a>
            </div>
            <div>
                <a href="#"><i class="fa-brands fa-whatsapp"></i> +54 9 3755-458194</a>
            </div>
        </section>
        <div class="copyright">
            <p>Copyright © Publicity Misiones</p>
        </div>
    
    </footer>



</body>
</html>